.milestoneItem {
  @apply relative;
}

.firstMilestone .metadata {
  @apply bg-white;
}

.lastMilestone .metabody {
  @apply bg-white;
}

.milestoneItem:before {
  content: '';
  @apply absolute bottom-0 left-6 h-full border-l-2 border-dashed border-sand-5;
  z-index: -1;
  border-image: url('../../images/customBorder.svg') 30 round;
}

.milestoneItem:last-child :before {
  content: none;
}
